@use '@angular/material' as mat;

$light-basic: (
        500: #444444,
        contrast: (
                500: white,
        )
);

$light-primary: (
        500: #A28A3D,
        contrast: (
                500: white,
        )
);

$light-accent: (
        500: #A2150E,
        contrast: (
                500: white,
        )
);

$light-warn: (
        500: #F44336,
        contrast: (
                500: white,
        )
);

$light-disabled: (
        500: rgba(0, 0, 0, 0.26),
        contrast: (
                500: white,
        )
);

$light-link: (
        500: #3F51B5,
        contrast: (
                500: white,
        )
);

$light-pink: (
        500: #FF4081,
        contrast: (
                500: white,
        )
);

$light-reddish-black: (
        500: #2B0504,
        contrast: (
                500: white,
        )
);

$light-black: (
        500: rgba(0, 0, 0, 1),
        contrast: (
                500: white,
        )
);
$light-secondary: (
        500: rgba(130, 130, 130, 1),
        contrast: (
                500: white,
        )
);

$light-red-black: (
        500:#77110A,
        contrast: (
                500: white,
        )
);

@function get-color($palette, $hue: default, $opacity: null) {
  // If hueKey is a number between zero and one, then it actually contains an
  // opacity value, so recall this function with the default hue and that given opacity.
  @if type-of($hue) == number and $hue >= 0 and $hue <= 1 {
    @return mat.get-color-from-palette($palette, default, $hue);
  }

  $color: map-get($palette, $hue);

  @if (type-of($color) != color) {
    // If the $color resolved to something different from a color (e.g. a CSS variable),
    // we can't apply the opacity anyway so we return the value as is, otherwise Sass can
    // throw an error or output something invalid.
    @return $color;
  }

  @return rgba($color, if($opacity == null, opacity($color), $opacity));
}


$color-primary:#3587c3;